body {
	background: #fff;
	font-family: Arial, Helvetica, san-serif;}
	

td {
	color: #999;}
	



		
 
img {
	border: 0;}

em {
	font-style: normal;
	font-weight: bold;}
		
a:hover {
	color: #A9B8DF;
	text-decoration: underline;}


img {
	display: block;}
